* {
    /* border: 1px solid grey; */
    color: #494949;
}

:root {
    --spacing: 0px;
    --blur: 0px;
    --base-color: #c44080;
}

.image_area {
    padding: var(--spacing);
    background-color: var(--base-color);
}

img{
    filter: blur(var(--blur));
}

body {
    padding: 0;
    margin: 0;
    background-color: #F6EFEF;
    background-size: contain;
    background-repeat: repeat-x;
}

h2 {
    text-align: center;
    font-size: 55px;
    margin: 30px 0;
}

.content {
    display: flex;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 40px;
}

.each_control {
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
}

.each_control:not(:last-child){
    margin-bottom: 40px;
}

.controls label {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    font-size: 30px;
    display: block;
}

.controls input {
    margin-top: 20px;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none !important;
    height: 10px;
    background-color: #F5F5F5;
    color: red;
    border-radius: 10px;
    transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #c44080;
}

input[type="range"]:focus {
    outline: none;
}

.image_area {
    flex: 0 0 40%;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    overflow: hidden;
}

span{
    color: green;
    margin: 0 10px;
}

img {
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 10px;
}

input {
    width: 100px;
}