html,
body {
  height: 100%;
}

body {
  padding: 0;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whole_clock {
  width: 275px;
  height: 275px;
  border-radius: 137.5px;
  background-color: #F7F5F0;
  border: 1px solid #F0EDE6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(227, 227, 227, 0.15), 6px 10px 25px rgba(170, 169, 168, 0.8), inset -2px -2px 5px rgba(227, 227, 227, 0.4), 10px 50px 60px rgba(227, 227, 227, 0.4);
}

.clock {
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #fff;
  border: 1px solid #F0EDE6;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: inset 0.25rem 0.5rem 1rem rgba(170, 169, 168, 0.4), inset -2px -2px 5px rgba(227, 227, 227, 0.4);
}
@keyframes box-shadow-move {
  0% {
    box-shadow: 6px 0 2px rgba(122, 114, 114, 0.25);
  }
  25% {
    box-shadow: 8px 0 2px rgba(122, 114, 114, 0.25);
  }
  50% {
    box-shadow: -6px 0 2px rgba(122, 114, 114, 0.25);
  }
  75% {
    box-shadow: -8px 0 2px rgba(122, 114, 114, 0.25);
  }
  100% {
    box-shadow: 6px 0 2px rgba(122, 114, 114, 0.25);
  }
}
.clock__second {
  position: absolute;
  background-color: #B91616;
  width: 3px;
  margin-top: 20px;
  height: 115px;
  border-radius: 1.5px;
  transform-origin: 50% 100px;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.49, 1.54);
  z-index: 4;
  animation: box-shadow-move 60s infinite steps(120);
}
.clock__minute {
  position: absolute;
  background-color: #C1C0BE;
  width: 10px;
  margin-top: 40px;
  height: 80px;
  border-radius: 5px;
  transform-origin: 50% 80px;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.49, 1.54);
  transform-origin: bottom;
}
.clock__hour {
  position: absolute;
  background-color: #A8A8A8;
  width: 10px;
  margin-top: 60px;
  height: 60px;
  border-radius: 5px;
  transform-origin: 50% 60px;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.49, 1.54);
  transform-origin: bottom;
}
.clock__axis {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #A8A8A8;
  position: absolute;
  align-self: center;
}
.clock__axis::before {
  content: " ";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: #B91616;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock__indicator {
  position: absolute;
  width: 2px;
  border-top: 2px solid orange;
  margin-top: 11px;
  height: 107px;
  border-radius: 1px;
  transform-origin: bottom;
}
.clock__indicator:nth-of-type(5n) {
  position: absolute;
  width: 2px;
  border-top: 8px solid pink;
  margin-top: 8px;
  height: 104px;
  border-radius: 1px;
  transform-origin: bottom;
}

section:nth-of-type(1) {
  transform: rotateZ(calc(6deg * 1));
}

section:nth-of-type(2) {
  transform: rotateZ(calc(6deg * 2));
}

section:nth-of-type(3) {
  transform: rotateZ(calc(6deg * 3));
}

section:nth-of-type(4) {
  transform: rotateZ(calc(6deg * 4));
}

section:nth-of-type(5) {
  transform: rotateZ(calc(6deg * 5));
}

section:nth-of-type(6) {
  transform: rotateZ(calc(6deg * 6));
}

section:nth-of-type(7) {
  transform: rotateZ(calc(6deg * 7));
}

section:nth-of-type(8) {
  transform: rotateZ(calc(6deg * 8));
}

section:nth-of-type(9) {
  transform: rotateZ(calc(6deg * 9));
}

section:nth-of-type(10) {
  transform: rotateZ(calc(6deg * 10));
}

section:nth-of-type(11) {
  transform: rotateZ(calc(6deg * 11));
}

section:nth-of-type(12) {
  transform: rotateZ(calc(6deg * 12));
}

section:nth-of-type(13) {
  transform: rotateZ(calc(6deg * 13));
}

section:nth-of-type(14) {
  transform: rotateZ(calc(6deg * 14));
}

section:nth-of-type(15) {
  transform: rotateZ(calc(6deg * 15));
}

section:nth-of-type(16) {
  transform: rotateZ(calc(6deg * 16));
}

section:nth-of-type(17) {
  transform: rotateZ(calc(6deg * 17));
}

section:nth-of-type(18) {
  transform: rotateZ(calc(6deg * 18));
}

section:nth-of-type(19) {
  transform: rotateZ(calc(6deg * 19));
}

section:nth-of-type(20) {
  transform: rotateZ(calc(6deg * 20));
}

section:nth-of-type(21) {
  transform: rotateZ(calc(6deg * 21));
}

section:nth-of-type(22) {
  transform: rotateZ(calc(6deg * 22));
}

section:nth-of-type(23) {
  transform: rotateZ(calc(6deg * 23));
}

section:nth-of-type(24) {
  transform: rotateZ(calc(6deg * 24));
}

section:nth-of-type(25) {
  transform: rotateZ(calc(6deg * 25));
}

section:nth-of-type(26) {
  transform: rotateZ(calc(6deg * 26));
}

section:nth-of-type(27) {
  transform: rotateZ(calc(6deg * 27));
}

section:nth-of-type(28) {
  transform: rotateZ(calc(6deg * 28));
}

section:nth-of-type(29) {
  transform: rotateZ(calc(6deg * 29));
}

section:nth-of-type(30) {
  transform: rotateZ(calc(6deg * 30));
}

section:nth-of-type(31) {
  transform: rotateZ(calc(6deg * 31));
}

section:nth-of-type(32) {
  transform: rotateZ(calc(6deg * 32));
}

section:nth-of-type(33) {
  transform: rotateZ(calc(6deg * 33));
}

section:nth-of-type(34) {
  transform: rotateZ(calc(6deg * 34));
}

section:nth-of-type(35) {
  transform: rotateZ(calc(6deg * 35));
}

section:nth-of-type(36) {
  transform: rotateZ(calc(6deg * 36));
}

section:nth-of-type(37) {
  transform: rotateZ(calc(6deg * 37));
}

section:nth-of-type(38) {
  transform: rotateZ(calc(6deg * 38));
}

section:nth-of-type(39) {
  transform: rotateZ(calc(6deg * 39));
}

section:nth-of-type(40) {
  transform: rotateZ(calc(6deg * 40));
}

section:nth-of-type(41) {
  transform: rotateZ(calc(6deg * 41));
}

section:nth-of-type(42) {
  transform: rotateZ(calc(6deg * 42));
}

section:nth-of-type(43) {
  transform: rotateZ(calc(6deg * 43));
}

section:nth-of-type(44) {
  transform: rotateZ(calc(6deg * 44));
}

section:nth-of-type(45) {
  transform: rotateZ(calc(6deg * 45));
}

section:nth-of-type(46) {
  transform: rotateZ(calc(6deg * 46));
}

section:nth-of-type(47) {
  transform: rotateZ(calc(6deg * 47));
}

section:nth-of-type(48) {
  transform: rotateZ(calc(6deg * 48));
}

section:nth-of-type(49) {
  transform: rotateZ(calc(6deg * 49));
}

section:nth-of-type(50) {
  transform: rotateZ(calc(6deg * 50));
}

section:nth-of-type(51) {
  transform: rotateZ(calc(6deg * 51));
}

section:nth-of-type(52) {
  transform: rotateZ(calc(6deg * 52));
}

section:nth-of-type(53) {
  transform: rotateZ(calc(6deg * 53));
}

section:nth-of-type(54) {
  transform: rotateZ(calc(6deg * 54));
}

section:nth-of-type(55) {
  transform: rotateZ(calc(6deg * 55));
}

section:nth-of-type(56) {
  transform: rotateZ(calc(6deg * 56));
}

section:nth-of-type(57) {
  transform: rotateZ(calc(6deg * 57));
}

section:nth-of-type(58) {
  transform: rotateZ(calc(6deg * 58));
}

section:nth-of-type(59) {
  transform: rotateZ(calc(6deg * 59));
}

section:nth-of-type(60) {
  transform: rotateZ(calc(6deg * 60));
}

.no-transition {
  transition: transform 0s;
}

/*# sourceMappingURL=style.css.map */
